body {
    color: #223f6b;
    font-size: 100%;
}

.navbar {
    padding: 4px;
    border-bottom: 1px solid #223f6b;
}

.logo {
    margin: 0px;
    width: 90px;
    height: 80px;
    float: left;
    display: block;
}

select {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 3%) inset;
    color: #223f6b;
  }

.w50 {
    width:50%
}

input, select {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 3%) inset;
    color: #223f6b;
  }

 

.decorated-btn,.decorated-btn-red {
    background-color:#f7f7f7;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 3px gray;
    transition: 0.3s;
    display: inline-block;
    color:#223f6b;
    font-weight: bold;
}  

.decorated-btn:active {
    transform: translateY(2px);
    border-bottom: none;
  }

.decorated-btn:hover {
    background-color: #b0c4de;
} 

.decorated-btn:focus {
    outline:none ;
}

.container-border {
    margin-top:30px;
    width: 700px;
    height: 80px;
    border: 1px solid #223f6b;
    margin: 0 auto;
}


.table {
    border-color:#223f6b;
}

th,td {
    font-size:14px;
}

.nav-tabs {
    border-bottom: initial;
    width:97%;
    margin:0 auto;
}
.tab-content {
    width:97%;
    margin:0 auto;
}
.nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #223f6b;
    border:0.5px solid #223f6b;
}
 
label {
    font-weight: bold;
}

.container-md {
    margin:0 auto;
    margin-top: 30px;
    width:900px;
    border: 1px solid #223f6b;
    padding: 10px;
}

button[type="button"]:disabled  {
    pointer-events: none;
    font-weight: normal;
    opacity:0.4;
}

