/*******body, ヘッダー*******/
body {
    color: #223f6b;
    font-size: 90%;
}
.navbar {
    padding: 4px;
    border-bottom: 1px solid #223f6b;
}
.logo {
    margin: 0px;
    width: 90px;
    height: 80px;
    float: left;
    display: block;
}
.login {
    width: 300px;
}

.w50 {
    width:50%
}


/******管理画面基本料金マスターにhoverしたとき *****/
.dropdown-btn {
    position: relative;
    display: inline-block;
    /* padding: 20px; */
}
.dropdown {
    background: rgb(223, 231, 243);
    /* opacity: 0.5; */
    position: absolute;
    left: 0;
    /* top: 45px; */
    width: 200px;
    padding: 10px 20px;
    display: none;
}
.nav-button-wrap,
.open {
    display: block;
}
.dropdown-btn li {
    display: inline-block;
    margin: 10px 0;
}

 a {
    color:#223f6b;
}


/*******タブ*******/
.nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #223f6b;
    border:0.5px solid #223f6b;
    margin:0,0px;
} 

.nav-tabs {
    border-bottom:0.5px solid #223f6b;
    border-bottom: initial;
} 



/*******コンテナ*******/
.container-md {
    margin: 15px auto;
    width: 900px;
    border: 1px solid #223f6b;
    padding: 5px;
}

.price-content {
    width: 50%;
    margin: 0 auto;
}

.container-border {
    margin-top:15px;
    width: 700px;
    height: 80px;
    border: 1px solid #223f6b;
    margin: 0 auto;
}



/*******ボタン*******/
.decorated-btn, .delete, .save-btn, .close-btn, .decorated-btn-red {
    background-color:#f7f7f7;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 3px gray;
    transition: 0.3s;
    display: inline-block;
    color:#223f6b;
    font-weight: bold;
}

/* 基本ボタン */
.decorated-btn:hover {
    background-color: #b0c4de;
}
.decorated-btn:focus {
    outline:none ;
}
.decorated-btn:active {
    transform: translateY(2px);
    border-bottom: none;
  } 

/* 保存ボタン */
.save-btn {
    background-color: #87cefa;
}
.save-btn:hover {   
    background-color:#f7f7f7;
}
.save-btn:active {
    transform: translateY(2px);
    border-bottom: none;
}
.save-btn:focus {
    outline:none ;
}

/* 閉じるボタン */
.close-btn {
    background-color: #dcdcdc;
}
.close-btn:hover {   
     background-color: #f7f7f7;
}
.close-btn:active {
    transform: translateY(2px);
    border-bottom: none;
}
.close-btn:focus {
    outline:none ;
} 

/* 削除ボタン */
.delete:active {
transform: translateY(2px);
border-bottom: none;
}
.delete:hover {
    background-color: #b0c4de;
}
.delete {
    color: red;
}
button:focus {
    outline:none ;
}
button:hover {
    background-color: #b0c4de;
}
button[type="button"]:disabled  {
    pointer-events: none;
    font-weight: normal;
    opacity:0.4;
}



/*******input,select******/
input, select {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 3%) inset;
    color:#223f6b;
}
label {
    font-weight: bold;
}



/******li,a*****/
a {
    text-decoration: none;
}
li {
    list-style:none;
}



/*******テーブル・スクロールバー*******/
/* th,td {
    font-size:14px;
} */

.table {
    border-color:#223f6b;
    font-size: 95%;
}
/* thead, tbody {
    display: block;
  }
  tbody {
    
    overflow: scroll;
    height: 100px;
  }  */


/******トップページ、管理画面ボタン*******/
.account-create, .account-create-master {
    position: relative;
    width: 140px;
    height: 40px;
    margin-right: 50px;
    margin-top: 10px;
    padding-top: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: #223f6b;
}
.account-create::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    top: 0;
    left: 0;
    border-radius: 3px;
    background: #223f6b;
    transition: .3s;
}
.account-create::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    top: 40px;
    left: 0;
    border-radius: 3px;
    background: #223f6b;
    transition: .3s;
}
.account-create:hover::before {
    top: 3px;
    height: 3px;
}
.account-create:hover::after {
    top: calc(100% - 3px);
}
.account-create-master {
    width: 180px;
    font-size: 18px;
    cursor: pointer;
}
.account-create-master::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    top: 0;
    left: 0;
    border-radius: 3px;
    background: #223f6b;
    transition: .3s;
}
.account-create-master::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    top: 40px;
    left: 0;
    border-radius: 3px;
    background: #223f6b;
    transition: .3s;
}
.account-create-master:hover::before {
    top: 3px;
    height: 3px;
}
.account-create-master:hover::after {
    top: calc(100% - 3px);
}


  /*これは管理画面で使う
   .account-create {
    margin-top: 60px;
    position: relative;
    display: inline-block;
    /* font-weight: bold; */
    /* padding: 12px 0 8px;
    text-decoration: none;
  }
  
  .account-create:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    border-radius: 3px;
    background: #2f84c9fb;
    transition: .3s;
  }
  
  .account-create:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    top: 0;
    left: 0;
    border-radius: 3px;
    background: #2f84c9fb;
    transition: .3s;
  }
  
  .account-create:hover:before {
    top: calc(100% - 3px);
    height: 2px;
  }
  
  .account-create:hover:after {
    top: 3px;
  } */ 
.col-md-4 {
    padding:0;
} 

/****** 請求詳細 ******/

table.calender_column{
    width: 100%;
}

table.calender_column td{
    padding: 5px;
    border: 1px solid #CCC;
}

/* 日曜日 */
table.calender_column tr.week0{
    background-color: #ffefef;
    color: #FF0000;
}

/* 土曜日 */
table.calender_column tr.week6{
    background-color: #ededff;
    color: #0000FF;
}

/* 今日 */
table.calender_column tr.today{
    background-color: #fbffa3;
    font-weight: bold;
}

table.calender_column td:first-child{
    width: 20%;
    text-align: center;
}

table.calender_column td:last-child{
    width: 80%;
    color: #111111;
}
