body {
    color: #223f6b;
    font-size: 90%;
}

.navbar {
    padding: 4px;
    border-bottom: 1px solid #223f6b;
}

.logo {
    margin: 0px;
    width: 90px;
    height: 80px;
    float: left;
    display: block;
}

select {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 3%) inset;
    color: #223f6b;
  }

input, select {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 3%) inset;
    color: #223f6b;
  }
/* .font {
    font-size:80%;
} */
  .decorated-btn,.decorated-btn-red {
    background-color:#f7f7f7;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 3px gray;
    transition: 0.3s;
    display: inline-block;
    color:#223f6b;
    font-weight: bold;
}  

.decorated-btn:active {
    transform: translateY(2px);
    border-bottom: none;
  }

.decorated-btn:hover {
    background-color: #b0c4de;
} 

.decorated-btn:focus {
    outline:none ;
}

.container-border {
    width:80%;
    border: 1px solid #223f6b;
    margin: 0 auto;
    padding: 10px;
    margin: 15px auto;
}



.table {
    border-color:#223f6b;
    /* width:90%; */
    font-size: 90%; 
    padding:0px;
}


.nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #223f6b;
    border:0.5px solid #223f6b;
}
 
label {
    font-weight: bold;
}

table.calender_column{
    width: 100%;
}

table.calender_column td{
    padding: 5px;
    border: 1px solid #CCC;
}

/* 日曜日 */
table.calender_column tr.week0{
    background-color: #ffefef;
    color: #FF0000;
}

/* 土曜日 */
table.calender_column tr.week6{
    background-color: #ededff;
    color: #0000FF;
}

/* 今日 */
table.calender_column tr.today{
    background-color: #fbffa3;
    font-weight: bold;
}

table.calender_column td:first-child{
    width: 20%;
    text-align: center;
}

table.calender_column td:last-child{
    width: 80%;
    color: #111111;
}

.column {
    column-count: 3;
}

.close-btn, .save-btn{
    background-color:#f7f7f7;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 3px gray;
    transition: 0.3s;
    display: inline-block;
    color:#223f6b;
    font-weight: bold;
}

.save-btn {
    background-color: #87cefa;
}
.save-btn:hover {   
    background-color:#f7f7f7;
}
.save-btn:active {
    transform: translateY(2px);
    border-bottom: none;
}
.save-btn:focus {
    outline:none ;
}
li {
    list-style:none;
}

.studentbtn{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid ;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}
