body {
    color: #223f6b;
    font-size: 100%;
}

.navbar {
    padding: 4px;
    border-bottom: 1px solid #223f6b;
}

.logo {
    margin: 0px;
    width: 90px;
    height: 80px;
    float: left;
    display: block;
}

.container-md {
    margin:30px auto;
    width:900px;
    border: 1px solid #223f6b;
    padding: 20px;
}

.decorated-btn, .save-btn, .close-btn {
    background-color:#f7f7f7;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 3px gray;
    transition: 0.3s;
    display: inline-block;
    color:#223f6b;
    font-weight: bold;
}

.save-btn {
    background-color: #87cefa;
}
.close-btn {
    background-color: #dcdcdc;
}


.decorated-btn:active {
    transform: translateY(2px);
    border-bottom: none;
  }  
.save-btn:active {
    transform: translateY(2px);
    border-bottom: none;
  }
.close-btn:active {
    transform: translateY(2px);
    border-bottom: none;
  }

.decorated-btn:hover {
    background-color: #b0c4de;
}
.save-btn:hover {   
     background-color:#f7f7f7;
}
.close-btn:hover {   
     background-color: #f7f7f7;
}

.decorated-btn:focus {
    outline:none ;
}
.save-btn:focus {
    outline:none ;
}
.close-btn:focus {
    outline:none ;
}

input, select {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 3%) inset;
    color:#223f6b;
}
  
th,td {
    font-size:14px;
}

.nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #223f6b;
    border:0.5px solid #223f6b;
}

.table {
    border-color:#223f6b;
}

.nav-tabs {
    border-bottom:0.5px solid #223f6b;
}    

label {
    font-weight: bold;
}

/* .container {
    width:98%;
    margin: 0 auto;
} */

