body {
  color: #223f6b;
  font-size: 100%;
}

.navbar {
  padding: 4px;
  border-bottom: 1px solid #223f6b;
}

input {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 4px 4px 4px 4px;
  color: #223f6b;
}

a {
  text-decoration: none;
  color: #223f6b;
}

.decorated-btn {
  background-color:#b0c4de;
  border-radius: 4px;
  box-shadow: 3px 3px 3px gray;
  transition: 0.3s;
}

.decorated-btn:active {
  transform: translateY(2px);
  border-bottom: none;
}

.decorated-btn:hover {
  background-color: #f7f7f7;
}

.logo {
  margin: 0px;
  width: 85px;
  height: 80px;
  float: left;
  display: block;
}

.content {
  width: 960pX;
  padding-top: 80px;
}

.login {
  width: 200px;
}

/*これは管理画面で使うよー
 .account-create {
  margin-top: 60px;
  position: relative;
  display: inline-block;
  /* font-weight: bold; */
  /* padding: 12px 0 8px;
  text-decoration: none;
}

.account-create:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  border-radius: 3px;
  background: #2f84c9fb;
  transition: .3s;
}

.account-create:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  top: 0;
  left: 0;
  border-radius: 3px;
  background: #2f84c9fb;
  transition: .3s;
}

.account-create:hover:before {
  top: calc(100% - 3px);
  height: 2px;
}

.account-create:hover:after {
  top: 3px;
} */ 
