body {
    color: #223f6b;
    font-size: 100%;
}

.logo {
    margin: 0px;
    width: 90px;
    height: 80px;
    float: left;
    display: block;
}

.navbar {
    padding: 4px;
    border-bottom: 1px solid #223f6b;
}

.account-create {
    position: relative;
    /* display: block; */
    width: 140px;
    height: 40px;
    margin-right: 50px;
    margin-top: 10px;
    padding-top: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: #223f6b;
}

.account-create::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    top: 0;
    left: 0;
    border-radius: 3px;
    background: #223f6b;
    transition: .3s;
}

.account-create::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    top: 40px;
    left: 0;
    border-radius: 3px;
    background: #223f6b;
    transition: .3s;
}

.account-create:hover::before {
    top: 3px;
    height: 3px;
}

.account-create:hover::after {
    top: calc(100% - 3px);
}


.account-create-master {
    position: relative;
    width: 180px;
    height: 40px;
    margin-right: 50px;
    margin-top: 10px;
    padding-top: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: #223f6b;
    cursor: pointer;
}

.account-create-master::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    top: 0;
    left: 0;
    border-radius: 3px;
    background: #223f6b;
    transition: .3s;
}

.account-create-master::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    top: 40px;
    left: 0;
    border-radius: 3px;
    background: #223f6b;
    transition: .3s;
}

.account-create-master:hover::before {
    top: 3px;
    height: 3px;
}

.account-create-master:hover::after {
    top: calc(100% - 3px);
}

.dropdown-btn {
    position: relative;
    display: inline-block;
    /* padding: 20px; */
}

.dropdown {
    background: rgb(223, 231, 243);
    /* opacity: 0.5; */
    position: absolute;
    left: 0;
    /* top: 45px; */
    width: 200px;
    padding: 10px 20px;
    display: none;
}

li {
    display: inline-block;
    margin: 10px 0;
}
li a {
    color:#223f6b;
}

.nav-button-wrap,
.open {
    display: block;
}
