body {
    color: #223f6b;
    font-size: 100%;
}

.navbar {
    padding: 4px;
    border-bottom: 1px solid #223f6b;
}
.logo {
    margin: 0px;
    width: 90px;
    height: 80px;
    float: left;
    display: block;
}
.container-md {
    margin: 30px auto;
    width: 900px;
    border: 1px solid #223f6b;
    padding: 20px;
}
.decorated-btn, .delete{
    background-color: #f7f7f7;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 3px gray;
    transition: 0.3s;
    display: inline-block;
    color: #0f2950;
    font-weight: bold;
}

.table {
    width: 600px;
    border-color: #223f6b;
    color: #223f6b;
}

thead {
    border-bottom: 1px solid #223f6b;
}


input, select {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 3%) inset;
    color: #0f2950;
}
.decorated-btn:active {
    transform: translateY(2px);
    border-bottom: none;
}
.delete:active {
    transform: translateY(2px);
    border-bottom: none;
}
button:focus {
    outline: none;
}
button:hover {
    background-color: #b0c4de;
}
label {
    font-weight: bold;
}
.col-md-4 {
    padding:0;
}

.delete {
    color: red;
}